body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-color: #FFF5E8;
}
header{
    padding: 27px  240px 10px 240px;
    margin: 0 auto;

}
.nav{
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 408px;
    align-items: center;
    justify-content: flex-start;
}
.nav ul{
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    padding: 0;
    gap: 60px;

}
.nav li{

    list-style: none;
    font: 600 14px Nunito;
}

.namber{
    display: flex;
    gap: 15px;

    align-items: center;
}
.head{
    display: flex;
}

section{
    width: 1100px;
    height: 820px;
    padding: 27px  255px 0 255px;
    margin: 0 auto;
    background-image: url(./img/img1.png);
    background-repeat: no-repeat;

}
.textbox{
    margin-top: 180px;
    width: 500px;
}
.title{
    width: 500px;
    z-index: 1;
}
.title h1{
    font: 80px Airborne;
    margin: 0;
    color: #FFF5E8;
}
.adres p{
    font: 200 18px Nunito;
    color: #FFF5E8;
    margin-bottom: 30px;
}
.title p{
    font: 18px Nunito;
    margin: 0;
    color: #FFF5E8;
    text-transform:uppercase;
    margin: 20px 0 50px 0;
}
section button{
    width: 246px;
    height: 63px;
    border: solid 3px;
    background-color: #B95249;
    border-color: #F9C746;
    font: 500 20px Nunito;
    color: #FFF5E8;

}

section2{
    display: flex;
    padding: 0px  240px 0 240px;
    align-items: center;
    gap: 20px;
}

.text h2{
    font: 32px Airborne;
    margin: 0;
    color: #B95249;
    margin-bottom: 40px; 
}

.text p{
    font: 14px Nunito;
    margin: 0;
    color: #621E18;
    margin-bottom: 20px;

}
footer{
    background-color: #B95249;
 
}
.w, .t, .e, .a{
    display: flex;
}
.contact p{

    font: 200 18px Nunito;
    color: white;
}
.contact{
    27px  240px 10px 240px;
}